@import "../../shared/variables";
@import "../../shared/mixins";

.HomePage {
  &Header {
    h1 {
      font-size: 48px;
      font-weight: 500;
      color: #000000;
      span {
        color: $color-primary;
      }
    }

    p {
      font-weight: 400;
      font-size: 18px;
    }
  }

  &Content {
    @include flexRow(flex-start, flex-start);
    gap: 30px;

    .charts {
      @include flexRow(flex-start, flex-start);
      width: 100%;
      height: auto;

      .radar {
        background: #282d30;
        border-radius: $x-small;
        width: 258px !important;
        height: 263px !important;
      }
    }

    .cards {
      @include flexColumn(flex-start, flex-start);
      gap: 40px;
    }
  }
}
