@import "../../shared/variables";
@import "../../shared/mixins";

.ProtectedLayout {
  display: grid;
  grid-template-columns: 117px auto;
  min-height: calc(100vh - 91px);

  &Content {
    padding: 65px 90px;
  }
}
